<div class="Attendance">
    <div>
        <h1>Attendance</h1>
    </div>
    <div><button>Refresh</button></div>
    <hr>

    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>StudentId</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Lachlan Velden</td>
            <td>Signed In</td>
            <td>10101010</td>
            <td>
                <div class="xButton"><button>x</button></div>
            </td>
        </tr>
        <tr>
            <td>Josh Flare</td>
            <td>Signed In</td>
            <td>10101010</td>
            <td>
                <div class="xButton"><button>x</button></div>
            </td>
        </tr>
        <tr>
            <td>Frank Wilson</td>
            <td>Signed In</td>
            <td>10101010</td>
            <td>
                <div class="xButton"><button>x</button></div>
            </td>
        </tr>
    </table>
</div>