<div class="classesBox">
    <div>
        <h1>Classes</h1>
    </div>
    <div>
        <button (click)="fetchclassService.fetchClasses()">Get Classes</button>
    </div>
    <ul>
        <li *ngFor='let classes of fetchclassService.classes'>
            <h3>{{classes.name}}</h3>
            <div>
                <button (click)="fetchattendanceService.fetchAttendance(classes.classId)">View Attendance</button>
            </div>

        </li>
    </ul>

    <hr>



    <!-- <div class="IPBox"> 
        <div>
            <h2>Interface Programing</h2>
        </div>
        <div>
            <p>Every Tuesday, 8:30 - 13:30</p>
        </div>
        <div><Button>View Attendance</Button></div>
    </div>


    <div class="OOProg">
        <div>
            <h2>OO Programing</h2>
        </div>
        <div>
            <p>Every Monday, 23:30 - 3:30</p>
        </div>
        <div><Button>View Attendance</Button></div>
    </div>
</div> -->